@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

.parent-container {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    font-family: 'Nunito';
    overflow: hidden;

}

.left-box {
    width: 19%;
    height: 90%;
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.left-top {
    width: 90%;
    height: 12%;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.left-top h1 {
    color: #1db954;
    font-size: 18px;
    font-weight: 600;
    font-family: Nunito;

}

.left-top img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
    margin-left: 20px;
}

.left-top button {
    width: 30px;
    height: 30px;
    border: 1px solid #1db954;
    background-color: transparent;
    color: #1db954;
    border-radius: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.left-top button:hover {
    background-color: #1db954;
    color: white;
}


.left-bottom {
    width: 90%;
    height: 80%;
    background-color: transparent;
    border-radius: 10px;
}

.left-bottom ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    list-style: none;
    padding: 10px 0px;
    gap: 20px;
}

.left-bottom ul li {
    width: 95%;
    padding: 5px;
    border-radius: 40px;
    display: flex;
    align-items: top;
    justify-content: left;
    cursor: pointer;
    padding: 9px;
    border: 1px solid #1a1a1a;
}

.left-bottom ul li:hover {
    transition: .5s ease;
    background-color: #383636;
}

.left-bottom ul li h1 {
    font-size: 15px;
    padding-left: 20px;
    font-weight: 300;
    color: white;
}
.left-bottom ul li p {
    font-size: 12px;
    padding-left: 20px;
    font-weight: 300;
    color: #666161;
}

.left-bottom ul li img {
    width: 40px;
    height: 40px;
    object-fit: fill;
    border-radius: 10px;
    margin-left: 10px;
}

.center-box {
    width: 59%;
    height: 86%;
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.center-top {
    width: 95%;
    height: 10%;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.t-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.t-left img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.t-left h1 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}

.t-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 10px;
}

.t-right button {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid #1db954;
    background-color: transparent;
    color: #1db954;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
}

.t-right button:hover {
    background-color: #1db954;
    color: white;
    transition: .5s ease;
}
.t-right button span{
    content: ' 3';
    color:white;
}

.center-bottom {
    width: 95%;
    height: 90%;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.center-bottom ul {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.center-bottom ul::-webkit-scrollbar {
    width: 1px;
}

.center-bottom input {
    display: block;
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    border: 1px solid #1db954;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #1a1a1a;
    color: white
}

.center-bottom input:active {
    outline: none;
    border: 1px solid #1db954;
}

.input-box {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
}

.input-box button {
    border: 1px solid #1db954;
    color: #1db954;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 11.4%;
    right: 24%;
    z-index: 10;
    cursor: pointer;
    transition: .5s ease;
}

.input-box button:hover {
    background-color: #1db954;
    color: white;
    border: 1px solid #1db954;
}

.center-bottom ul li p {
    color: #666161;
}

.center-bottom ul li {
    cursor: pointer;
}

.right-box {
    width: 19%;
    height: 90%;
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
    font-size: 12px;
}

.right-top {
    width: 90%;
    height: 45%;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.right-top button {
    width: 35px;
    height: 35px;
    color: #1db954;
    background-color: #1a1a1a;
    font-size: large;
    border: 1px solid #1db954;
    border-radius: 40px;
    text-align: center;
    position: fixed;
    right: 40px;
    top: 80px;
    cursor: pointer;
    transition: .5s ease;
}

.right-top button:hover {
    background-color: #1db954;
    color: white;
}

.right-top ul {
    width: 100%;
    height: 100%;
    color: white;
    list-style: none;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 20px;
}

.right-top ul::-webkit-scrollbar {
    width: 0px;
}

.right-bottom ul::-webkit-scrollbar {
    width: 0px;
}

.right-top ul li {
    margin-top: 20px;
}

.right-top ul li span {
    font-size: 12px;
    color: #1db954;
}

.right-bottom {
    width: 90%;
    height: 45%;
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.right-bottom ul {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: flex-start;
    overflow: scroll;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.right-bottom ul li {
    color: white;
    list-style: none;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}

.right-bottom ul li button {
    width: 25px;
    height: 25px;
    border: 1px solid #1db954;
    border-radius: 40px;
    background-color: #1a1a1a;
    color: #1db954;
    cursor: pointer;
    transition: .5s ease;
}

.right-bottom ul li button:hover {
    background-color: #1db954;
    color: white;
}

.right-bottom ul li span {
    font-size: 12px;
    color: #1db954;
}

.search-nav {
    width: 19%;
    height: 90%;
    position: absolute;
    z-index: 1000;
    transform: translateX(510%);
    transition: .5s ease;
    border-radius: 10px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.search-nav h1 {
    color: white;
    font-size: 20px;
    padding-top: 20px;
    color: #1db954
}

.search-nav input {
    border: 1px solid #666161;
    background-color: transparent;
    color: white;
    width: 70%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    list-style: none;
}

.search-nav ul li, .request-tab ul li {
    border: 1px solid #666161;
    width: 80%;
    height: 50px;
    background-color: transparent;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease;
    gap: 30px;
}

.search-nav ul li h1, .request-tab ul li h1 {
    color: #666161;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
}


.search-nav ul li button, .request-tab ul li button {
    padding: 7px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #1db954;
    color: #1db954;
    border-radius: 30px;
}

.search-nav ul li button:hover,  .request-tab ul li button:hover {
    background-color: #1db954;
    color: white;
    transition: .5s ease;
}

.active-nav {
    transition: .5s ease;
    transform: translateX(210%);
}

.notification {
    padding: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    z-index: 400;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-500%);
    transition: .5s ease;
}

.not-act {
    transition: .5s ease;
    transform: translateY(0%);
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
}

.notification h1 {
    font-size: 20px;
    color: #1db954;
    font-weight: 500;
    padding: 0px;
}

.request-tab {
    width: 19%;
    height: 90%;
    position: absolute;
    z-index: 1000;
    transform: translateX(-510%);
    transition: .5s ease;
    border-radius: 10px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-tab {
    transform: translateX(-210%);
    transition: .5s ease;
}

.request-tab h1 {
    color: white;
    font-size: 20px;
    padding-top: 20px;
    color: #1db954
}
.request-tab ul{
    width:90%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.request-tab ul li h1{
    font-size: 12px;
}
.request-tab ul li button{
    padding:5px;
    font-size: 10px;
}
.request-tab ul li{
    width:100%;
    padding:0px 10px;
    gap:8px;
}